* {
  box-sizing: border-box;
}
.dropdown {
  margin-bottom: 2rem;
  width: 300px;
}
.dropdown-menu {
  /* width: 300px; */
  box-shadow: 0px 8px 16px 0px #00000014;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
}

.title {
  display: flex;
  gap: 8px;
}
.arrow {
  transition: all 0.25s ease-in-out;
}
ul {
  margin: 0;
  padding: 0;
  box-shadow: 0px 8px 16px 0px #00000014;
  padding-inline: 2.5rem;
  padding-block: 1rem;

  list-style-type: none;
  display: none;

  border-radius: 4px;
}
li {
  margin-bottom: 1rem;
}

.clicked {
  background-color: #5128c6;
  color: white;
}
.clicked .arrow {
  transform: rotate(-180deg);
}
.clicked img {
  filter: invert(100%) brightness(1000%);
}
.clicked + ul {
  display: block;

  color: black;
  top: 25px;
}
